pre {
    font-family: inherit;
}

button { 
    border: 0;
    outline: 0;
}
table { 
    border-collapse: collapse;
}
.main{
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow-y: none;
    overflow-y: auto;
}